body {
    height:2483px;
    width:1454px;
}

.commonRhombus {
    height:180px;
    width:180px;
    background:#BACBDC;
    transform:rotate(45deg);
    
}

.rhombus1 {
    position:absolute;
    top:348px;
    left: 492px;
}

.rhombus2 {
    position:absolute;
    top:202.86px;
    left: 504px;
}
