body {
    height:5000px;
    width:1500px;
}

h1 {
    margin:0;    
}

.centeredtext {
    top: 50%;
    left: 50%;

}

.important {
    color:darkgreen
}
#superImportant {
    color:#34c9eb
}

.defaultDiv {
    height:100px;
    width:100px;
    background:darkred;
    border:1px solid black;
    transform:rotate(45deg);
}

.threeXthreetable {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 3;
    border:1px solid black;
}

.customPosition {
    position: fixed;
    top: 30px;
    left: 20px;
}

.absolutPosition {
    position: absolute;
    top: 65px;
    left: 55px;
}

.relativePosition {
    position: relative;
    top: 100px;
    left: 80px;
}

.wrapperPosition {
    position:relative;
    height:500px;
    width:500px;
    border:1px solid black;
}

.centeredtextbox {
    position: absolute;
    text-align: center;
    margin: auto;
    left: 50%;
    transform: translate(-50%);
    height:50px;
    width:300px;
    background:rgb(255, 255, 255);
    border:1px solid black;
    top: 30px;
    line-height: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    border-style: solid;
    border-top-width: 5px;
    border-right-width: 10px;
    border-top-color: black;
    border-right-color:red;
  }

  .item1 {
    grid-column-start: 1;
    grid-column-end: 3;
  }